.addProductContainer {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	border-radius : 15px;
} 

.addProductBody {
	padding : 100px;
}

.lableInput {
	color : #2ec4b6;
	text-align : center;
    margin : 5px 0;
}

.input {
    border : 1px solid #FF9F1C !important;
}

.selectedCategories {
	min-width: 20px;
	background-color: gainsboro;
	padding: 3px 7px;
	border-radius: 10px;
	margin: 0 5px;
	cursor: pointer;
}

