/* NAV..... */
.navContainer {
  margin-bottom: 262px;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: 50px;
  width: 100%;
}

.header {
  font-size: 70px;
}

.openSearchPage {
    display: flex;
    justify-content: center;
  	align-items: center;
    position: absolute;
    background-color: rgba(255, 255, 255,0.5);
    z-index: 4;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation-name: openSearch;
    animation-duration: 1s;
}

.closeSearchPage {
    position: absolute;
    background-color: rgba(255, 255, 255,0.5);
    z-index: 4;
    top: 0;
    bottom: 0;
    right: 50%;
    left: 50%;
    animation-name: closeSearch;
    animation-duration: 1s;
    
}

.closeSearchPage * {
    visibility: hidden;
}

.closeSearchBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    padding: 10px 12px 5px 12px;
    border-radius: 50%;
    border: 1px solid black;
    color: black;
}
.closeSearchBtn:hover {
    transition: 0.1s;
    background-color: #FF9F1C;
    border-color: #FF9F1C;
    color:  white;
}

@keyframes openSearch {
    from {left: 50%; right: 50%;}
    to {left: 0; right: 0;}
}

@keyframes closeSearch {
    from {left: 0; right: 0;}
    to {left: 50%; right: 50%;}
}

.navItem {
  text-decoration: none;
}

.navItem:hover {
  color: #2ec4b6;
}

.navItem {
    cursor: pointer;
  transition: 0.5s;
  margin: 0 20px;
  color: rgb(26, 26, 26);
  text-decoration: none;
}

.icon * {
  color: #2ec4b6 !important;
}

.activeLink {
  color: #2ec4b6;
}

.myCart {
    cursor: pointer;
    border: 1px solid black;
    padding: 12px 12px 5px 12px;
}

.myCart:hover {
    transition: 0.7s;
    border-color: #FF9F1C;
    background-color: #FF9F1C;
}

.dropDown {
  font-weight: bolder;
}