.lableInput {
	color : #2ec4b6;
	text-align : center;
    margin : 5px 0;
}

.input {
    border : 1px solid #FF9F1C !important;
}

.selectedCategories {
	min-width: 20px;
	background-color: gainsboro;
	padding: 3px 7px;
	border-radius: 10px;
	margin: 0 5px;
	cursor: pointer;
}
