.backIcon {
	position: absolute;
	top: 10px;
	left: 10px;
	color: white;
	padding: 20px 23px 18px 23px;
	background-color : #ff9f1c;
	border-radius: 50%;
	transition : 0.4s;
	cursor: pointer;
}

.backIcon:hover {
	color: white;
	background-color : #2ec4b6;
}

w.formInp {
	transition: 0.4s;
	border: 1px solid #ff9f1c;
}
.formInp:focus {
	outline: none !important;
	box-shadow: unset;
	border: 1px solid #2ec4b6;
}

.body {
	overflow-y: hidden !important;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	position: fixed;
	top: 50px;
	bottom: 50px;
	right: 100px;
    left: 100px;
}

.body * {
	overflow: hidden !important;
}

.swiper * {
	overflow: hidden !important	;
}
 